body, input {
    font-size: 1.25rem;
}


#settings {
    width: 100%;
}

tr {
    border-bottom: 1px solid black;
}

table > tr:last-child {
    border-bottom: none;
}

input {
    height: 30px;
    text-align: right;
    width: 100%;
}
