@import url("./Photon/DefaultButton.css");
@import url("./Photon/Input.css");
@import url("./Photon/Dropdown.css");
@import url("./Photon/Checkbox.css");

html, body {
    font-family: sans-serif;
}

h2 {
    font-size: 17px;
    font-weight: 500;
}

.vertcenter {
    display: flex;
    align-items: center;
}
