:root {
    --bg-color: #f6f5f4;
    --color: #000000;

    --link-color: #1a5fb4;

    --button-color: #ffffff;

    --hover: #deddda;
    --pressed: #c0bfbc;

    --disabled-text: #77767b;

    --accent-bg: #a51d2d;
    --accent-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #241f31;
        --color: #ffffff;

        --link-color: #99c1f1;

        --button-color: #000000;

        --disabled-text: #77767b;

        --hover: #3d3846;
        --pressed: #5e5c64;
    }
}

html, body {
    margin: 0;

    background-color: var(--bg-color);
    color: var(--color);
    font-family: sans-serif;

    width: 600px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--accent-bg);
    color: var(--accent-color);
    margin: 0;
    width: 100%;

    margin-bottom: 10px;
}

svg path {
    fill: var(--color);
}

h1 {
    margin: 10px;
    padding: 0;
    font-size: x-large;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

h1 svg {
    height: 32px;
    margin-right: 5px;
}

h1 svg path {
    fill: var(--accent-color);
}

h2 {
    font-size: larger;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;

    gap: 20px;

    margin: 10px 5px 10px 5px;

    align-items: center;

    width: 90%;
}

.radio-text {
    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;

    height: 100%;

    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}

.radio-group-buttons {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

label {
    cursor: pointer;
}

button svg,
label.radio svg {
    width: 24px;
    height: 24px;

    margin-right: 5px;
}

label.radio {
    display: inline-flex;
    flex-direction: row-reverse;
}

label.radio > input:checked + span {
    background-color: var(--accent-bg);
    color: white;
}

label.radio > span {
    flex-grow: 1;
}

button,
label.radio > span {
    color: var(--color);
    background-color: var(--button-color);
}

button:hover,
label.radio:hover > span {
    background-color: var(--hover);
}

button:active,
label.radio:active > span {
    background-color: var(--pressed);
}

button:disabled {
    color: var(--disabled-text);
    background-color: var(--bg-color);
}

button:disabled svg path {
    fill: var(--disabled-text);
}

label.radio > input:checked + span > svg path {
    fill: var(--accent-color);
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;

    box-sizing: border-box;

    background-color: var(--button-color);
    color: var(--color);
}

textarea {
    min-height: 100px;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;

    line-height: 24px;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

button:not(:disabled) {
    cursor: pointer;
}

details {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5em 0.5em 0;

    transition: 0.5s;

    flex-grow: 1;
    width: 100%;
}

summary {
    padding: 0.5em;
    margin: -0.5em -0.5em 0;

    cursor: pointer;

    font-size: larger;
    font-weight: bold;
}

details[open] summary {
    border-bottom: 1px solid;
    margin-bottom: 0.5em;
}

details[open] {
    border-left: 10px solid;
    border-left-color: var(--accent-bg);
    padding: 0.5em;
}

img.badge {
    height: 50px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

